.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
}


.team-names {
  font-size: 40px;
  background-color: red;
}
.user-names {
  font-size: 40px;
  background-color: red;
}

.App-header {
  background-color: #28342c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
